*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins ;
}
.navbar{
    display: flex;
    justify-content: space-between;
}
.navbar-wrap{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navbar-logo{
    display: flex;
    
}
.navbar-logo h1{
    border: 1px solid #000;
    text-align: center;
    padding: 1px;
    font-size: 24px;
    margin-left: 60px;
    /* border-radius: 20px; */
}
.navbar-listing {
    display: flex;
    align-items: center;
    margin-left: 200px;
    list-style: none;
}
.navbar-listing ul{
   list-style: none;
   display: flex;
   gap: 60px;
}
.navbar-listing li{
   font-weight: bold;
}
.navbar-listing a{
    text-decoration: none;
    color: #000;
}
.navbar-listing a:hover{
    color: #48A9FF;
    
}

/* main body */
.body-wrap{
    display: flex;
    background-color: #E1E1E2;
    height: 70vh;
    z-index: 0.9;
}
.main-body{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.text{
    width: 50%;
}
.body-img img{
    display: flex;
    /* margin-top: 20px; */
    width: 300px;
}
.t-1{
    color: #48A9FF;
    font-size: 20px;
}
.t-2{
    margin-top: -10px;
    font-size: 34px;
    font-weight: bold;
}
.t-3{
    margin-top: -15px;
    font-size: 20px;
    font-weight: bold;
}
.t-4{
  font-size: 12px;
  font-weight: bold;
}
.m-btn-1{
    margin-top: 40px;
    width: 180px;
    height: 55px;
    border-radius: 30px;
    border: 1px solid #48A9FF;
    background-color: #48A9FF;
}
.m-btn-2{
    width: 180px;
    
    border-radius: 30px;
    height:55px;
    border: 1px solid #48A9FF;
    outline: none;
    background-color: #E1E1E2;
}
.m-btn-2:hover{
    width: 180px;
    transition: 1s ;
    background-color: #48A9FF;
}

/* Position  */
.upper{
    display: flex;
    justify-content: center;
    text-align: center;
   position: relative;
    justify-content: center;
    border: 1px solid #ffffff;
    background-color: #FFFFFF;
    z-index: 2;
    bottom: 50px;
    left: 300px;
    border-radius: 40px;
    width: 50%;
    height: 90px;
    
}
.upper-class{
    display: flex;
    gap: 55px;
}
.border-line{
    border-right: 1px solid #000;
}


.upper-span-1{
    display: block;
    font-size: 14px;
    margin-top: -8px;
    text-align: center;
     margin-left: 55px;
     color: #48A9FF;
}
.i-class-bg{
    font-size: 30px;
    color: #48A9FF;
    margin-right: 20px;
    margin-top: 25px;
}
.hover{
    cursor: pointer;
}
.body-2-main{
    display: flex;
   
    margin-left: 500px;
}
.img img{
    margin-left: 200px;
    width: 250px;
    border-right: 1px solid #000;
}
.b-text{
    width: 50%;
    margin-top: 40px;
    margin-left: 50px;
}
.b-2{
    color: #48A9FF;
    font-weight: bold;
}
.b-3{
    font-weight: bold;
    font-size: 26px;
    margin-top: -20px;
}

.b-span{
   margin-left: 5px;
}
.b-2-span{
    margin-left: 60px;
}

/* education  */


.edu-info{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.edu-info-1 {
   font-weight: bold;
}
.p1{
    color: #48A9FF;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}
.p2{
    font-weight: bold;
    margin-top: -20px;
    font-size: 30px;
}

.edu-info-record{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 400px;
}
.edu{
    font-size: 30px;
}
.r-1{
    margin-left: 10px;
    font-size: 24px;
}

.rec{
    display: flex;
    flex-wrap: wrap;
    font-weight: bold;
    margin-left: 20px;
}
.rec span{
   display: block;
   color: #48A9FF;
}
.rec:hover{
   transition: 1s;
    color: skyblue;
}
.rec-r{
    display: flex;
    flex-wrap: wrap;
    font-weight: bold;
    margin-left: 20px;
}
.rec-r:hover{
    transition: 1s;
     color: skyblue;
 }

 /* Project Adding */
.project-adding{
    margin-top: 40px;
    display: flex;
    background-color: #E1E1E2;
    height: 100vh;
    
}
.project-heading{
    text-align: center;
    background-color: #E1E1E2;
}
.project-p1 {
    margin-top: 40px;
    font-size: 16px;
    font-weight: bold;
    padding-top: 70px;
}
.project-p2{
    font-size:28px;
    font-weight: bold;
    margin-top: -20px;
}
.table{
    display: flex;
    justify-content: center;
}
table tr{
    outline: none;
    text-decoration: none;
    border-radius: 40px;
    border: 1px solid #48A9FF;
}
.table td{
    outline: none;
    background-color: #E1E1E2;
    width: 200px;
    height: 40px;
    font-weight: bold;
    cursor: pointer;
}
.table td:hover{
    background-color: #48A9FF;
    transition: 1s;
}

.cards{
   
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 0px auto;
    height: 50vh;
    /* width: 1000px;
    height: 40vh; */
}
.d1{
    object-fit: contain;
    width: 700px;
    height: 40vh;
    background-color: #E1E1E2;
}
.d1 img{
    width:"" ;
    height: 40vh;
}
.cards:hover{
    cursor: pointer;
}
.c-1{
    font-size: 18px;
    font-weight: bold;
    width: 150px;
    height: 38px;
    margin:0px auto ;
    text-align: center;
}
.c-1 a{
    text-decoration: none;
    color: #000;
}

.btn3{
    
}
.btn3 button{
    width: 300px;
    outline: none;
    background-color: #E1E1E2;
    outline: none;
    border: 1px solid #48A9FF;
    font-size: 20px;
    font-weight: bold;
}
.btn3 button:hover{
    transition: 1s;
    background-color: #48A9FF;
}
.new-wrap{
    margin-top: 50px;
    display: flex;
}
.new-era{
    background-color: #55A7FF;
    height: 40vh;
    width: 100%;
    text-align: center;
}
.new-era h1{
    padding-top:50px;
    font-size: 30px;
    font-weight: bold;
    color: #FFFFFF;
}
.new-era p{
    font-size: 12px;
    font-weight: bold;
    color: #FFFFFF;
}
.new-era-btn{
   display: flex;
   justify-content: center;
}
.new-era-btn button{
    margin-top: 50px;
    width: 300px;
    height: 60px;
    border-radius: 30px;
    outline: none;
    background-color: #FFFFFF;
    color: #48A9FF;
    border: 1px solid #FFFFFF;
}
.new-era-btn button:hover{
    background-color: #48A9FF;
    color: #000;
    font-weight: bold;
    width: 100%;
    transition: 1s;
}
/* My skill era */

.my-skill-era{
    margin-top: 40px;
    list-style: none;
    background: #E1E1E2;
    text-transform: uppercase;
}
.m-sk-h1{
    color: #48A9FF;
    font-weight: bold;
}
.my-skill h1{
    text-align: center;
}
.my-skill h3{
    margin: 5px;
}
.my-skill{
    width: 500px;
    margin: 60px auto;
    color: #000;
    box-shadow: 0px 14px 28px rgba(0,0, 0, 0.25),0 10px 10px rgba(0,0,0,0.22);
}
.my-skill li{
  margin: 20px 0;
  padding: 10px;   
}
.bar{
    background: #48A9FF;
    display: block;
    height: 20px;
    border: 1px solid rgba(0, 0,0, 0.3);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 1px 3px rgba(72,169, 255, 0.12),0 1px 2px rgba(72, 169, 255,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1)
}
.bar:hover{
    box-shadow: 0px 14px 28px rgba(72,169, 255, 0.25),0 10px 10px rgba(72, 169, 255,0.22);
}
.bar span{
    height: 20px;
    float: left;
    background: linear-gradient(135deg, rgb(117, 95, 109)0%, rgba(252,103,103,1.0)100%);
}
.html{
    width: 90%;
    animation: html 3s;
}
.css{
    width: 90%;
    animation: css 3s;
}
.javascript{
    width: 80%;
    animation: javascript 3s;
}
@keyframes html{
    0%{
        width: 0;
    }
    100%{
        width: 90%;
    }
}
@keyframes css{
    0%{
        width: 0;
    }
    100%{
        width: 90%;
    }
}
@keyframes javascript{
    0%{
        width: 0;
    }
    100%{
        width: 80%;
    }
}

.contact-area{
    margin-top: 80px;

}
.c-heading-1 > h3{
    text-align: center;
    font-size: 16px;
    color: #48A9FF;
    font-weight: bold;
}
.c-heading-1 > h2{
    text-align: center;
    font-size: 28px;
    color: #000;
    font-weight: bold;
}
.merge{
    display: flex;
    justify-content: space-between;
}
.form{
    margin-top: 30px;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
 .f-1{
    width:  330px;
    height: 40px;
    padding-left: 10px;
    outline: none;
    border: #48A9FF;
    border-radius: 10px;
    background-color: #E1E1E2;
}
.f-3{
    margin-top: 12px;
    width: 100%;
    height: 40px;
    padding-left: 10px;
    outline: none;
    border: #48A9FF;
    border-radius: 10px;
    background-color: #E1E1E2;
}
.f-4{
    margin-top: 12px;
    width: 100%;
    height: 100px;
    padding-left: 10px;
    outline: none;
    border: #48A9FF;
    border-radius: 10px;
    background-color: #E1E1E2;
}

.f-5{
    margin-top: 20px;
    width: 80%;
    height: 60px;
    padding-left: 10px;
    outline: none;
    border: #48A9FF;
    border-radius: 10px;
    background-color: #55A7FF;
}
.f-5:hover{
    transition: 2s;
    background: #E1E1E2;
}
.extra{
    width: 30%;
    display: block;
}
.extra i{
    margin-right: 5px;
}
.i-1{
    margin-top: 35px;
    width: 100%;
    font-size: 20px;
}
.extra span{
    margin-left: 10px;
}
.extra p{
    margin-left: 30px;
}

/* footer */

.footer-wrap{
    margin-top: 40px;
margin-bottom: -4px;

padding-top: 30px;
 background-color: #100F2E;
 text-align: center;
}

.t1-1{
    color: #FFFFFF;
    font-weight: bold;
}
.t1-1:hover{
    color: #FFFFFF;
    font-size: 46px;
    transition: 3s;
}
.t1-2{
    color: #FFFFFF;
    font-size: 18px;
    font-weight: bold;  
}
.t1-3 a{
    text-decoration: none;
    color: #48A9FF;
}
.git{
    font-size: 20px;
    color: #FFFFFF;
    background-color: #55A7FF;
    border-radius: 50px;
    padding: 5px;
    
}
.t1-4{
    margin-top: 12px;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 10px;
}





















