*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins ;
}
.navbar{
    display: flex;
    justify-content: space-between;
}
.navbar-wrap{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navbar-logo{
    display: flex;
    
}
.navbar-logo h1{
    border: 1px solid #000;
    text-align: center;
    padding: 1px;
    font-size: 24px;
    margin-left: 60px;
    /* border-radius: 20px; */
}
.navbar-listing {
    display: flex;
    align-items: center;
    margin-left: 200px;
    list-style: none;
}
.navbar-listing ul{
   list-style: none;
   display: flex;
   gap: 60px;
}
.navbar-listing li{
   font-weight: bold;
}
.navbar-listing a{
    text-decoration: none;
    color: #000;
}
.navbar-listing a:hover{
    color: #48A9FF;
    
}

/* main body */
.body-wrap{
    display: flex;
    background-color: #E1E1E2;
    height: 70vh;
    z-index: 0.9;
}
.main-body{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.text{
    width: 50%;
}
.body-img img{
    display: flex;
    /* margin-top: 20px; */
    width: 300px;
}
.t-1{
    color: #48A9FF;
    font-size: 20px;
}
.t-2{
    margin-top: -10px;
    font-size: 34px;
    font-weight: bold;
}
.t-3{
    margin-top: -15px;
    font-size: 20px;
    font-weight: bold;
}
.t-4{
  font-size: 12px;
  font-weight: bold;
}
.m-btn-1{
    margin-top: 40px;
    width: 180px;
    height: 55px;
    border-radius: 30px;
    border: 1px solid #48A9FF;
    background-color: #48A9FF;
}
.m-btn-2{
    width: 180px;
    
    border-radius: 30px;
    height:55px;
    border: 1px solid #48A9FF;
    outline: none;
    background-color: #E1E1E2;
}
.m-btn-2:hover{
    width: 180px;
    transition: 1s ;
    background-color: #48A9FF;
}

/* Position  */
.upper{
    display: flex;
    justify-content: center;
    text-align: center;
   position: relative;
    justify-content: center;
    border: 1px solid #ffffff;
    background-color: #FFFFFF;
    z-index: 2;
    bottom: 50px;
    left: 300px;
    border-radius: 40px;
    width: 50%;
    height: 90px;
    
}
.upper-class{
    display: flex;
    gap: 55px;
}
.border-line{
    border-right: 1px solid #000;
}


.upper-span-1{
    display: block;
    font-size: 14px;
    margin-top: -8px;
    text-align: center;
     margin-left: 55px;
     color: #48A9FF;
}
.i-class-bg{
    font-size: 30px;
    color: #48A9FF;
    margin-right: 20px;
    margin-top: 25px;
}
.hover{
    cursor: pointer;
}
.body-2-main{
    display: flex;
   
    margin-left: 500px;
}
.img img{
    margin-left: 200px;
    width: 250px;
    border-right: 1px solid #000;
}
.b-text{
    width: 50%;
    margin-top: 40px;
    margin-left: 50px;
}
.b-2{
    color: #48A9FF;
    font-weight: bold;
}
.b-3{
    font-weight: bold;
    font-size: 26px;
    margin-top: -20px;
}

.b-span{
   margin-left: 5px;
}
.b-2-span{
    margin-left: 60px;
}

/* education  */


.edu-info{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.edu-info-1 {
   font-weight: bold;
}
.p1{
    color: #48A9FF;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}
.p2{
    font-weight: bold;
    margin-top: -20px;
    font-size: 30px;
}

.edu-info-record{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 400px;
}
.edu{
    font-size: 30px;
}
.r-1{
    margin-left: 10px;
    font-size: 24px;
}

.rec{
    display: flex;
    flex-wrap: wrap;
    font-weight: bold;
    margin-left: 20px;
}
.rec span{
   display: block;
   color: #48A9FF;
}
.rec:hover{
   transition: 1s;
    color: skyblue;
}
.rec-r{
    display: flex;
    flex-wrap: wrap;
    font-weight: bold;
    margin-left: 20px;
}
.rec-r:hover{
    transition: 1s;
     color: skyblue;
 }

 /* Project Adding */
.project-adding{
    display: flex;
    background-color: #E1E1E2;
    height: 90vh;
    
}
.project-heading{
    text-align: center;
}
.project-p1 {
    margin-top: 40px;
    font-size: 16px;
    font-weight: bold;
    padding-top: 70px;
}
.project-p2{
    font-size:28px;
    font-weight: bold;
    margin-top: -20px;
}
.table{
    display: flex;
    justify-content: center;
}
table tr{
    outline: none;
    text-decoration: none;
    border-radius: 40px;
    border: 1px solid #48A9FF;
}
.table td{
    outline: none;
    background-color: #E1E1E2;
    width: 200px;
    height: 40px;
    font-weight: bold;
    cursor: pointer;
}
.table td:hover{
    background-color: #48A9FF;
    transition: 1s;
}

.cards{
    background-color: #E1E1E2;
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 0px auto;
    /* width: 1000px;
    height: 40vh; */
}
.d1{
    width: 1000px;
    height: 40vh;
}
.cards:hover{
    cursor: pointer;
}
.c-1{
    font-size: 18px;
    font-weight: bold;
    width: 150px;
    height: 38px;
    margin:0px auto ;
    text-align: center;
}
.c-1 a{
    text-decoration: none;
    color: #000;
}
.c-1 a:hover{
    background-color: #48A9FF;
    border: 1px solid #000;
    border-radius: 40px;
    padding: 10px;
    transform: 1s;
}
.btn3{
    
}
.btn3 button{
    width: 300px;
    outline: none;
    background-color: #E1E1E2;
    outline: none;
    border: 1px solid #48A9FF;
    font-size: 20px;
    font-weight: bold;
}
.btn3 button:hover{
    transition: 1s;
    background-color: #48A9FF;
}